.imgs{
	/*background: url();*/
	height: 200px;
	width: 200px;
	border:6px solid #007bff;
	border-radius: 50%;
	position: center;
	margin-left: 15%;
}
.img-t{
	height: 200px;
	width: 200px;
	overflow: hidden;
	/*shape-image-threshold: */
	object-fit: contain;
}
.nav-new{
	padding-left: 0;
    margin-bottom: 0;
    display: flex;
    /*float: right;*/
}
ul.nav-new.right{
	margin-right: 3%;
}
/*.me{
height: 80%;
width: 80%;
}*/
.cards{
	width: 250px !mportant;
}
  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .cont{
      	display: flex;
      	margin-right: 8%;
      }
      
      
      .model{
      	display: block;
      	
      }
      .info{
      	float: bottom;
      }
 /*     .skill{
    padding-top: 10px;
    padding-bottom: 5px;
    margin: none;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
*/.cards{
/*
    display: flex;
    align-content: center;
    align-items: center;
    float:right;
*/
 display: inline-grid;
  grid-template-columns: auto auto auto;
/*
position: relative;
    float-left: 20px;
*/
    align-content: stretch;
    align-items: baseline;
    position: relative;
    margin-right: 10%;
/*    grid-auto-rows: 3;*/
}
.skill{
    position: relative;
   
}
.card{
   display: flex;
    background: linear-gradient(to left top,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    border-radius: 1rem;
    margin: 0.4rem 0.4rem;
    padding:1rem;
    box-shadow: 6px 6px 20px rgba(255,255,255,0.753);
    justify-content: space-between;
    align-content: space-between;
    width: 156px;
   
}
.progress{
    background: linear-gradient(to right top,#34e8eb,#236a6b);
     -webkit-transition: width 2s, height 4s; 
    transition: width 2s, height 4s;
    width: 100%;
    height: 15%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    
    background: #34e8eb;
    position:absolute;
    left: 60%;
}
.progress:hover{
    width: 20%;
    height: 100%;
}
#nt::after{
      content: "";
    width: 100%;
    height: 100%;
    
    background: #34e8eb;
    position:absolute;
    left: 70%; 
}

#ne::after{
      content: "";
    width: 100%;
    height: 100%;
    
    background: #34e8eb;
    position:absolute;
    left: 100%; 
}
#ne:hover{
      width: 20%;
    height: 100%;
}
#nw:hover{
      width: 20%;
    height: 100%;
}
#nt:hover{
      width: 20%;
    height: 100%;
}
#nw::after{
    
    content: "";
    width: 100%;
    height: 100%;
/*    background: rgb(236,236,236);*/
    background: #34e8eb;
    position:absolute;
    left: 97%;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*    text-align: right;*/
/*    width: 766px;*/
    padding:none;
}
.card-info h2{
    font-size: 1rem;
    color: #007bff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.percentage{
     background: linear-gradient(to right top,#34e8eb,#236a6b); 
    -webkit-background-clip:text;
   -webkit-text-fill-color:transparent;
    
}

.model{
    padding: 6%;
     display: flex;
    flex-direction: column;
/*    position: absolute;*/
    align-content: center;
    justify-content: center;
/*    width: 40%;*/
    flex: 2;
/*    float: right;*/
}
/*.model h3{    background: linear-gradient(to right top,#34e8eb,#fff); 
    -webkit-background-clip:text;
   -webkit-text-fill-color:transparent;}*/
#skills {
    

/*    width: 100%;*/
/*      height: 100%;*/
     background: white;
    min-height: 80vh;
    min-width: 80%;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.4));


}
#contact {
    
/*
    width: 100%;
      height: 100%;
*/
      background: white;
    min-height: 80vh;
    min-width: 80%;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.4));

}
#recent{
    
/*
    width: 100%;
      height: 100%;
*/
      background: white;
    min-height: 80vh;
    min-width: 80%;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.4));

}
 #client {
    
/*
    width: 100%;
      height: 100%;
*/
  background: white;
    min-height: 80vh;
    min-width: 80%;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.4));
}
#home{
    
/*
    width: 100%;
      height: 100%;
*/
      background: white;
    min-height: 80vh;
    min-width: 80%;
    background:linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.4));

}
